/* Elements */

body{
  margin: 20px;
  background-color: #EDE3D4;
  color: #968D83;
}

h1 {
  font-size: 100px;
}

a{
  color: #85A6A1;
}

/* Tabbed nav */

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  background-color: #EDE3D4;
  color: #968D83;
}

/* Races */

.raceName{
  font-size: 14px;
  font-weight: 500;
}