/* Elements */

body{
  margin: 20px;
  background-color: #EDE3D4;
  color: #968D83;
}

h1 {
  font-size: 100px;
}

a{
  color: #85A6A1;
}

/* Tabbed nav */

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  background-color: #EDE3D4;
  color: #968D83;
}

/* buttons */

.btn-info {
  color: #EDE3D4;
  background-color: #B0BFB6;
  border-color: #B0BFB6;
  border: 0px outset buttonface;
}

.btn-info:hover {
  color: #EDE3D4;
  background-color: #8C9C94;
  border-color: #B0BFB6;
}

/* Races */

.raceName{
  font-size: 18px;
  font-weight: 900;
  margin-top: 25px;
}