body{
  margin: 20px;
  background-color: #EDE3D4;
}

h1{
  color: #968D83;
}

p{
  color: #968D83;
}

a{
  color: #85A6A1;
}

.text{
      font-size: 48px;
      padding-bottom: 20px;
      margin-bottom: 40px;
}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  background-color: #EDE3D4;
}